@page
@model FoodServiceOccupancyForecast.Web.Pages.Admin.CircleHallModel
@{
    ViewData["Title"] = "Зал №2 (Круглый зал)";
}

<main class="full-map-container">
    <img src="~/images/circle-hall.svg" alt="Карта Зала №2" class="svg-full-map">
</main>