@page
@model FoodServiceOccupancyForecast.Web.Pages.Admin.MapModel
@{
    ViewData["Title"] = "Общая карта заведения";
}

<main class="full-map-container">
    <img src="~/images/Общая_карта_эта.svg" alt="Общая карта заведения" class="svg-full-map">
</main>